

.text-interface {
  padding-left : 1em;
  padding-right: 1em;
  width: 100%;
  height: 100%;
  --offwhite : #aaa;
  --grey : #888;
  --black: #222;
  --white: #fefefe;
  background-color: var(--black);
  color: var(--white);
  position: sticky;
  top: 0;
  max-height: 90vh;
  overflow-y: scroll;
  margin-right: auto;
  margin-left: auto;
  max-width: 28em;
  min-width: 20em;
  font-family: Roboto, sans-serif;
}
.text-interface h2 {
  position: sticky;
  top: 0;
  background-color: var(--black);
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dotted var(--grey);
}
.text-interface .input-wrap {
    border: 1px dotted var(--grey);
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    opacity: 0.1;
}
.text-interface .input-wrap.active {
  opacity: 1;
}

.text-interface .placeholder {
  font-style: italic;
  color: var(--offwhite);
}